.form-project{
    margin: 0px -10px 10px -10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover {
    color: #555;
    cursor: pointer !important;
    border-bottom: 5px solid #d6df22 !important;
    border-right: 0px !important;
    border-left: 0px!important;
    border-top: 1px transparent !important; 
    background-color: #6ac7c1 !important;
    padding: 8px 15px;
}

.text-title-list-project{
    font-size: 15px;
    color: #00ACC1;
}

.project-sub-content{
    padding: 0px;
    margin: 3px 0px;
    font-size: 14px;
    font-weight: 600;
    color: #757575;
}

.title{
    font-weight: 600;
    font-size: large;
    display: block;
    padding: 10px 0px;
}

.btn-primary-edit{
    background-color: #337ab7 !important;
  }

  .btn-primary-edit-kembali{
    background-color: #d9534f !important;
  }

  .btn-danger-custom {
    color: #fff;
    background-color: #FB8C00;
    border-color: #e6601b;
  }

  .text-title-asg{
    font-size: 20px;
    color: #2196F3;
}

.border-detail-view{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}


